@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.announcement {
  background: linear-gradient(100.04deg, #01C3CC 9.05%, #5A4FE4 56.08%, #7D2AE7 84%);
}

body {
  font-family: 'Poppins', sans-serif;

}

.search {
  background: linear-gradient(100.04deg, #01C3CC 9.05%, #5A4FE4 56.08%, #7D2AE7 84%), linear-gradient(0deg, #19A4D3, #19A4D3), #F65128;
}

.home {
  background: linear-gradient(87.56deg, rgba(245, 245, 245, 0) 56.71%, #F5F5F5 95.72%)
}

.slick-slider {
  width: 2140px;
  position: relative;
}

.slick-arrow {
  background-color: #000;
}

.slick-arrow.slick-next {
  position: absolute;
  top: 50%;
  right: 15px;
}

.slick-arrow.slick-prev {
  position: absolute;
  top: 50%;
  left: 9px;
  z-index: 20;
  height: 25px;
  width: 25px;

}

.slick-next:before {
  color: #D9D9D9;
  font-size: 25px !important;


}

.slick-prev:before {
  color: #D9D9D9;
  font-size: 25px !important;
}

.slick-dots {
  position: absolute;
  bottom: 19px !important;
  /* background: #fff; */
}

.slick-dots li {
  color: #fff;
}

.slick-dots li button:before {
  color: #fff !important;
}

.slick-dots li.slick-active button:before {
  color: #fff !important;
}

.winter {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #F9F9F9;
}

.text_title {
  background: linear-gradient(100.04deg, #01C3CC 9.05%, #5A4FE4 56.08%, #7D2AE7 84%), #F65128;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  cursor: pointer;
}

.featured {
  background: linear-gradient(100.04deg, #01C3CC 9.05%, #5A4FE4 56.08%, #7D2AE7 84%);
}

.newsletter {
  background: linear-gradient(100.04deg, #01C3CC 9.05%, #5A4FE4 56.08%, #7D2AE7 84%), #3B0E71;
}



@media (min-width:768px) {
  .slick-slider {
    width: 100%;
    position: relative;
  }

}

@media (min-width:1024px) {
  .slick-slider {
    width: 650px;
    position: relative;
  }

}

@media (min-width:1280px) {
  .slick-slider {
    width: 890px;
    position: relative;
  }

}

@media (min-width:1500px) {
  .slick-slider {
    width: 1140px;
    position: relative;
  }

}